<!DOCTYPE html>
<html lang="en">

{% include 'system/includes/loginHead.html' %}

<body>
	<style>  
	.col-center-block {  
	    float: none;  
	    display: block;  
	    margin-left: auto;  
	    margin-right: auto; 
	    position: relative;
	    top: 50%;
	    transform: translateY(-60%);
	}  
	</style>

	{% include 'system/includes/nav_bar.html' %}
	<div class="container col-center-block">
		<div class="row">
			<div class="col-md-7">
				<h1 style="color:white" class="cover-heading">DoperJ Health.</h1>
	            	<p class="lead">Our system is built for people who needs our service.</p>
	            	<p class="lead">
	            		<a href="{% url 'home' %}" class="btn btn-lg btn-secondary">Learn more</a>
	            	</p>
			</div>

			<div class="col-md-5">
				<div class="well well-lg" style="border-radius: 10px">
					{% if success %}
						<div class="alert alert-success" role="alert">
  							<p class="lead">You have created an account!</p>
  							<a href="{% url 'login' %}" class="badge badge-success">Click here to log in.</a>
						</div>
					{% elif error %}
						<div class="alert alert-danger" role="alert">
  							<p class="lead">{{error}}</p>
						</div>						
					{% endif %}
					<form action="/register" method="post" onsubmit="return formCheack()">
						{% csrf_token %}
						<div class="form-group">
							<label style="color:black" for="InputUsername" align="left">Username</label>
						    <input type="text" class="form-control input-lg" id="InputUsername" name="InputUsername" placeholder="Pick a username" required />
						</div>
						<div class="form-group">
							<label style="color:black" for="InputEmail">Email</label>
					    	<input type="email" class="form-control input-lg" id="InputEmail" name="InputEmail" placeholder="you@example.com" required />
						</div>
						<div class="form-group">
					    	<label style="color:black" for="InputPassword1">Password</label>
					    	<input type="password" class="form-control input-lg" id="InputPassword1" name="InputPassword1" placeholder="Create a password" required />
						</div>
						<div class="form-group">
						    <label style="color:black" for="InputPassword2">Confirm your Password</label>
						    <input type="password" class="form-control input-lg" id="InputPassword2" name="InputPassword2" placeholder="Re-enter your password" required />
						</div>
						<div class="form-check">
						    <label style="color:black" class="form-check-label">
						    <input type="checkbox" class="form-check-input">
						    <small>Remember me</small>
						    </label>
						</div>
						<button type="submit" class="btn btn-success btn-lg btn-block" onclick="return check1()">Sign up for DoperJ Zone</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>