

<!-- Text Panel -->
<div class="card" style="width: 120rem;">
	<img class="card-img-top" src="holder.js/660x250?theme=vine&text=Hello, {{user.profile.name}}" alt="Card image cap">
	<div class="card-body">
		<br>
		<br>
		<br>
		<div class="container-fluid">
			<div class="col-sm-5">
				<h4 class="card-title">What is a Healthy Lifestyle?</h4>
			</div>
		</div>
		<div class="container-fluid">
			<div class="col-sm-5">
				<p class="card-text">
					A healthy lifestyle isn’t just diet and exercise. <br>So what is a healthy lifestyle?
					<br>The World Health Organisation in 1946 defined health as ‘A complete state of mental,
					physical and social well-being not merely the absence of disease’.

				</p>
			</div>
		</div>
	</div>
</div>

		<!-- advertisements --> 
