<footer>
	<div class="footer-blurb">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 footer-blurb-item">
					<h3><span class="glyphicon glyphicon-text-size"></span> Concentration</h3>
					<p>
						Always focus on your health.
					</p>
				</div>
				<div class="col-sm-3 footer-blurb-item">
					<h3><span class="glyphicon glyphicon-wrench"></span>Indiligence</h3>
					<p>
						Do hard work to help you do less.
					 </p>
				</div>
				<div class="col-sm-3 footer-blurb-item">
					<h3><span class="glyphicon glyphicon-paperclip"></span>Responsibility</h3>
					<p>Your health is what we are.</p>
				</div>
				<div class="col-sm-3 footer-blurb-item">
					
					<!-- Thumbnails --> 
						<div class="row">
								<a href=" " class="thumbnail">
									<img src="holder.js/300x80?text={{today}}" alt="">
								</a>
						</div>
						
				</div>

			</div>
		</div>
    </div>
    
    <div class="small-print">
    	<div class="container">
    		<p><a href=" ">Terms &amp; Conditions</a> | <a href=" ">Privacy Policy</a> | <a href=" ">Contact</a></p>
    		<p>Copyright &copy; Github.com/DoperJ 2017 </p>
    	</div>
    </div>
</footer>