<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <!-- Logo and responsive toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=" "><span class="glyphicon glyphicon-globe"></span> Logo</a>
        </div>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'index' %}">Personal</a>
                </li>
                <li>
                    <a href="/admin">Manage</a>
                </li>
				<li class="dropdown">
					<a href=" " class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Others <span class="caret"></span></a>
					<ul class="dropdown-menu" aria-labelledby="about-us">
						<li><a href=" ">I</a></li>
						<li><a href=" ">haven't</a></li>
						<li><a href=" ">been</a></li>
                        <li><a href=" ">used!</a></li>
					</ul>
				</li>    
            </ul>

			<!-- Search -->
			<form class="navbar-form navbar-right" role="search">
                {% csrf_token %}
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
                <a class='btn btn-default' href="{% url 'login' %}">Log In</a>
                <a class='btn btn-primary' href="{% url 'register' %}">Sign Up</a>
			</form>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>